.login{
  width: 100%;
  overflow: hidden;
  .mgt{
    margin-top:30px;
  }
  .rem-me{
    span{
      float: left;
      margin-top:3px;
    }
  }
  .err-text{
    color: #f5b041;
  }
  .err-img{
    margin-right:10px;
    margin-top:-2px;
  }
  .login-wrop{
    width: 500px;
    overflow: hidden;
    margin:70px auto 0px;
    .login-title{
      font-size:20px;
      text-align: center;
    }
    .login-con{
      div.login_forget{font-size:14px;width:200px;cursor:pointer!important;}
      .login_forget.active .no-me{
        background:url("../images/check_active.png") no-repeat;
      }
      .no-me{
        background:url("../images/check_nor.png") no-repeat;
      }
      .ta-cd{
        width: 14px;
        height: 14px;
        margin:0;
        padding:0;display:block;
        margin-right:8px;float:left;
        cursor: pointer;margin-top:3px;
      }
      div{
        padding:0px;
      }
      
      width: 100%;
      border:1px solid #eaeaea;
      background: #fff;
      padding:10px 40px 40px;
      .prompt{
        //font-size: 12px;
        //margin-top:30px;
      }
      .login-input{
        width: 100%;
        border:1px solid #eaeaea;
        background: #f7f7f7;
        margin-top:15px;
        height: 38px;
        padding: 0px 10px;
      }
      .login-input:focus{
        border-color: #4874ff !important;
      }
      .text-l{
        text-align: left;
      }
      .text-r{
        text-align: right;color:#f00;
      }
      .login-btn{
        width: 100%;
        height: 38px;
        text-align: center;
        background: #4874ff;
        color: #fff;
        border:1px solid #4874ff;
        border-radius:2px;
        font-size:16px;
        font-weight:bold;
        cursor: pointer;
        border: none;
      }
      .login-btn:hover{
        background:#3c63d9;
      }
    }

  }
}

.active .no-me{
  background:url("../images/check_active.png") no-repeat;
}
.titleLogin{cursor:pointer;}
.reg_block{margin-top:10px;}