$btnbg:#f39c12 !default;//添加用户、添加服务背景按钮
$smbg:#f39c12!default;

/*****************统一管控平台******************/
.home_page .role_mange_list li{cursor:pointer;}
/**************角色管理、服务管理**************/
.set_mange{padding-left:16px;padding-right:16px;background:#fafafa;height:auto;overflow:hidden;}
.set_ser_btn p{background:$btnbg;display:inline-block;color:#fff;font-size:20px;width:200px;height:50px;line-height:50px;
text-align:center;margin-bottom:42px;cursor:pointer;margin-left:14px;}
.set_ser_btn p:hover{
  background: #f5b041;
}
ul,li{list-style:none;}
.role_mange_list{margin:0px;padding:0px;}
.role_mange_list li{width:23%;height:340px;background:#fff;position:relative;margin:0 13px;
  float:left;margin-bottom:30px;-webkit-transition:all 0.2s linear; -moz-transition:all 0.2s linear;transition:all 0.2s linear;}
.set_top{height:200px;background:#fff;position:relative;margin-bottom:30px;}
.set_top_tu{width:146px;height:146px;position:absolute;top:50%;left:50%;margin-left:-72px;margin-top:-72px;}
.set_bt{height:102px;margin:0 auto;padding-left:20px;padding-right:20px;}
.set_bt p{font-size:14px;text-align:center;}
.set_bt p:nth-child(1){font-size:16px;color:#333;margin-top:6px;}
.set_bt p:nth-child(2){color:#999;font-size:14px;}
.role_block_one{position:absolute;width:88px;height:100px;left:50%;top:50%;margin-left:-44px;margin-top:-50px;}
.role_li:nth-child(4n){margin-right:0px;}
.role_block_h{background:rgba(255,255,255,0.92);width:100%;height:340px;position:absolute;z-index:2;padding:40px;top:-24px;opacity:0;
  -webkit-transition:all 0.2s linear; -moz-transition:all 0.2s linear;transition:all 0.2s linear;
  -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;padding-top:60px;padding-bottom:60px;}
.role_mange_list li:hover{-webkit-box-shadow: -1px 2px 9px #dedede;-moz-box-shadow: -1px 2px 9px #dedede;box-shadow: -1px 2px 9px #dedede;}
.role_mange_list li:hover .role_block_h{top:0;opacity: 1;}
.service_one p{text-align:center;font-size:14px;}
.service_one .serv_tit{color:#999;}
.service_one .serv_detail{color:#333;}
.service_two{margin-top:40px;margin-bottom:50px  ;}
.servie_change{background:$smbg;width:90px;height:30px;
  font-size:14px;text-align:center;line-height:30px;margin:0 auto;color:#fff;cursor:pointer;
margin-top:15px;}
.servie_change:hover{
  background: #f5b041;
}
.role_block_detail{margin-top:65px;color:#fff;font-size:14px;text-align:justify;}
.h_set{height:130px;clear:both;overflow:hidden;}
@media (min-width: 1800px) {
  .role_mange_list li{margin:0 18px;margin-bottom:30px;}
}
/**************角色管理、服务管理**************/

/*****************无权限页面******************/
.power_detail{width:310px;margin:0px auto;}
.power_detail p{text-align:center;}
.power_detail .tit_one{font-size:16px;color:#333;margin-top:120px;}
.power_detail .tit_two{font-size:14px;color:#999;margin-top:20px;margin-bottom:30px;}
.power_btn{display:block;width:94px;height:30px;line-height:30px;background:$smbg;text-align:center;margin:0 auto;color:#fff;cursor:pointer;}
.power_btn:hover{
  background:#f5b041;
}
