// bower:scss
@import "service";
@import "regist";
@import "login";
@import "homeIndex";
//卡片标题颜色、textarea字体颜色
$titcolor:#333 !default;//定义全局变量
$smbg:#c256fc!default;
// endbower
html, body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #696969;
  font: 12px "微软雅黑", Helvetica;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

form, table, td, h1, h2, h3, h4, ul, ol, li, p {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none
}

input, img {
  vertical-align: middle;
}

html, body {
  min-width: 100%;
  height: 100%;
}

body {
  -webkit-text-size-adjust: none;
}

img {
  border: 0 none;
  height: auto;
  max-width: 100%;
}

ol, ul {
  list-style: none;
}

:focus {
  outline: 0;
}

a {
  color: inherit;
}

textarea {
  resize: none;
  overflow: auto;
}

a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  text-decoration: none
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

//input{ border:none;}
input:focus, textarea:focus {
  outline: 0
}




.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}


/* Custom page header */
/****************头部********************/
.navbar-oc {
  background:#f2f2f1;
  height: 80px;
  margin-bottom: 0px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;
}

.navbar-oc .navbar-nav > li > a{
  color: $titcolor;
  font-size: 16px;
  font-weight: normal;
  padding-top:30px;padding-bottom:30px;padding-left:20px;padding-right:20px;
}

.navbar-oc .navbar-nav > li > a:hover {
  color:#ce1515;
  background:none;
}

.navbar-oc .navbar-nav > li > a:focus,
.navbar-oc .navbar-nav > li > a.active{
  color: #ce1515;
  background:none;
}
.navbar-oc .navbar-nav > li > a.jiade{color:#ccc;}
.btn-default{background:none;color:#d5d5d5;border:0;padding:8px 12px;}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default{
  background:none;color:#d5d5d5;border:0;
}

.navbar-form{border-left:1px solid #dfdfdf;margin:0;padding-top:28px;padding-bottom:26px;margin-left:40px;padding-left:30px;margin-top:1px;margin-bottom:1px;}

.set_text_ellipsis{white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;}
.console_name p{margin-bottom:0;font-size:16px;color:$titcolor;display:block;width:100px;}
/****************头部********************/

