<div id="pagOne">
  <div class="title">
  <span class="rt loginBtn1">
   <a class="loginBtn1a" ng-click="login()">登录</a>
  </span>
  </div>
  <div class="homepag_nav">
  <span class="lf">
    <img class="homepag_navimg" src="images/logo.png">
  </span>
    <ul>
      <li class="rt homepag_navli "><a class="homepag_navlia" href="#">Aura解决方案</a></li>
      <li class="rt homepag_navli"><a class="homepag_navlia" href="#">Aura产品</a></li>
      <li class="rt homepag_navli"><a class="homepag_navlia" href="#">什么是Aura</a></li>
    </ul>
  </div>
  <!--content-->
  <div class="homepag_content">
    <h1 class="homepag_contenth1">普惠智能 极速洞见</h1>
    <h3 class="homepag_contenth3">When AI meets data</h3>
  </div>
</div>



