<div class="login">
  <form name="frm">
    <div class="login-wrop">
      <div class="login-title">{{loginaccount | translate}}</div>
      <div class="login-con mgt">
          <p class="error_tit" ng-if="error_name">用户名或者密码有误，请重新输入。</p>
        <div class="row prompt mgt">
          <div class="col-md-6 text-l">{{loginname | translate}}</div>
          <div class="col-md-6 text-r err-text" ng-if="frm.username.$dirty && frm.username.$invalid">
            <img src="../images/tip.png" alt="" class="err-img">{{loginnameblank | translate}}
          </div>
        </div>
        <div><input ng-model="usermessage.username" name="username" type="text" class="login-input mgt" autocomplete="off" tabindex="1"
            required></div>
        <div class="row prompt mgt">
          <div class="col-md-6 text-l">{{loginpass | translate}}</div>
          <div class="col-md-6 text-r err-text" ng-if="frm.password.$dirty && frm.password.$invalid">
            <img src="../images/tip.png" alt="" class="err-img">{{loginpassblank | translate}}
          </div>
        </div>
        <div><input ng-model="usermessage.password" name="password" type="password" class="login-input mgt" autocomplete="off"
            tabindex="2" ng-keydown="enterLogin($event)" required></div>
        <div class="row prompt mgt">
          <div class="login_forget" ng-class="{'active': isForget}" ng-click="isForget=!isForget">
            <i class="ta-cd no-me"></i>
            <p>{{loginfoget | translate}}</p>
          </div>
        </div>
        <button class="login-btn mgt" ng-click="frm.$valid && gologin()">{{loginbtn | translate}}</button>
        <div class="reg_block">
          <span class="titleText">{{noaccount | translate}}&nbsp;&nbsp;&nbsp;&nbsp;<span class="titleLogin"  ng-click="register()" >{{loginreg | translate}}</span></span>
        </div>
      </div>
    </div>
  </form>
</div>
