<div class="loginPage" id="register">
    <div class="title">
      <img class="pic" src="../images/blueLog.png" alt="">
      <span class="titleText">已有账号?<span class="titleLogin" ng-click="logintwo()">请登录</span></span>
    </div>
    <div class="content">
      <div class="contentModel">
        <p class="conTitle">注册Arua账号</p >
        <form class="main_form" name="regfrm">
        <div class="conCont">
          <div class="conOne">
            <label>用户名</label>
            <span class="textRgt" ng-if="credentials.usernamechange && regfrm.regusername.$dirty && regfrm.regusername.$invalid &&  regfrm.regusername.$error.required">用户名不能为空</span>
            <span class="textRgt" ng-if="credentials.usernamechange && regfrm.regusername.$dirty && regfrm.regusername.$error.minlength">用户名太短</span>
            <span class="textRgt" ng-if="credentials.usernamechange && regfrm.regusername.$dirty && regfrm.regusername.$error.maxlength">用户名太长</span>
            <span class="textRgt" ng-if="credentials.usernamechange && regfrm.regusername.$dirty && regfrm.regusername.$error.pattern&&!regfrm.regusername.$error.maxlength&&!regfrm.regusername.$error.minlength">用户名只能包含小写字母和数字</span><br/>
            <input class="ipt"  name="regusername" autocomplete="off" type="text" 
            ng-model="usermessage.regusername"
            onkeypress="if((event.keyCode > 31 && event.keyCode < 44) || (event.keyCode > 46 && event.keyCode < 48) || (event.keyCode > 57 && event.keyCode < 65) || (event.keyCode > 90 && event.keyCode < 97))event.returnValue = false;"
            ng-blur="credentials.usernamechange=true"
            ng-focus="credentials.usernamechange=false"
            ng-minlength="4"
            ng-maxlength="30"
            
            ng-pattern="/^[a-z0-9]{2,28}$/"
             tabindex="1" required>
          </div>
        


          <div class="conTwo">
            <label>邮箱</label>
            <span class="textRgt" ng-if="credentials.emailchange&&regfrm.email.$dirty && regfrm.email.$error.required">邮箱不能为空</span>
            <span class="textRgt" ng-if="credentials.emailchange&&regfrm.email.$dirty && regfrm.email.$error.pattern">无效的邮箱格式</span><br/>
  
            <input class="ipt" name="email" type="email"  autocomplete="off" 
            ng-model="usermessage.email"
            onkeypress="if(event.keyCode===32)event.returnValue = false;"
            onkeyup="value=value.replace(/\s/g,'')"
            ng-blur="credentials.emailchange=true"
            ng-focus="credentials.emailchange=false"
            ng-pattern="/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/"
            tabindex="2" required
            />
          </div>


          <div class="conTwo">
            <label>密码</label>
            <span class="textRgt" ng-if="credentials.passwordchange&&regfrm.password.$dirty && regfrm.password.$error.required">密码不能为空</span>
            <span class="textRgt" ng-if="credentials.passwordchange&&regfrm.password.$dirty && regfrm.password.$error.pattern">密码必须为8-18位的字母，数字，特殊符号</span><br/>
            <input class="ipt" type="password" name="password" onpaste="return false"
            ng-blur="credentials.passwordchange=true"
            ng-focus="credentials.passwordchange=false"
            ng-model="usermessage.password"
            
            ng-pattern="/^[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{8,18}$/"
            tabindex="3" required
            >
          </div>

          
          <div class="conTwo">
            <label>确认密码</label>
            <span class="textRgt" ng-if="credentials.cfmPasswordchange&&regfrm.cfmPassword.$dirty && regfrm.cfmPassword.$error.required && usermessage.password ==''" >确认密码不能为空</span>
            <span class="textRgt" ng-if="credentials.cfmPasswordchange&&regfrm.cfmPassword.$dirty && usermessage.password != usermessage.cfmPassword">两次输入密码不相同</span><br/>
            <input class="ipt" type="password" name="cfmPassword" onpaste="return false"
            ng-blur="credentials.cfmPasswordchange=true"
            ng-focus="credentials.cfmPasswordchange=false"
            ng-model="usermessage.cfmPassword"
            tabindex="4" required
            >
          </div>


          <div class="conTwo">
              <label>验证码</label>
              <span class="textRgt" ng-if="credentials.yzmchange&&regfrm.code.$dirty && regfrm.code.$error.required">验证码不能为空</span>
              <span class="textRgt" ng-if="credentials.yzmchange&&credentials.codeerror">验证码不正确</span><br/>
              <div style="position: relative; height: 40px;width: 100%;">
                    <input name="code" style="float: left;width: 50%;font-size: 12px;"
                           type="text"
                           ng-blur="credentials.yzmchange=true"
                           ng-focus="credentials.yzmchange=false"
                           class="form-control"
                           ng-model="code" required/>
                    <div ng-click="changecode()" class="code">{{yzcode}}</div>
                </div>
          </div>   
          
          
          <div class='textConfirm'>
            <div class="confirm_set" ng-class="{'active': xieyi}" ng-click="xieyi=!xieyi">
              <i class="ta-cd no-me"></i>&nbsp;&nbsp;我已阅读并接受《Aura服务协议》
            </div>
          </div>


          <button class="btn btn-block btn-disabled" id="regist" ng-disabled="regfrm.$invalid"
          ng-class="{'btn-orange':!credentials.codeerror&&usermessage.password === usermessage.cfmPassword&&regfrm.$valid,
           'btn-disabled': credentials.codeerror||!xieyi||usermessage.password !== usermessage.cfmPassword||regfrm.$invalid}"
          ng-click="!credentials.codeerror&&usermessage.password === usermessage.cfmPassword&&frm.$valid && regist()"
          style="margin: 20px 0 0 0;">
      注册
  </button>

        </div>
        </form>
      </div>
    </div>
  </div>