<!--角色管理页面-->
<div class="role_page">
    <div class="title_set">添加计划 
      <span class="addBgPic" style="color: #00A000" ng-click="openTaskPlan('create')" role="button" tabindex="0"></span>
    </div>
  <div class="set_mange">
    <ul class="role_mange_list">
      <li class="role_li">
        <div class="role_block">
          <div class="set_top">
            <img src="images/role_company.png" class="set_top_tu">
          </div>
          <div class="set_bt">
            <p>子公司管理员---用户管理</p>
            <p>拥有给子公司创建项目，添加用户，给用户授权的权限。</p>
          </div>
        </div>
        <div class="role_block_h" >
          <div class="service_one">
            <p class="serv_tit">角色来源</p>
            <p class="serv_detail">默认</p>
          </div>
        </div>
      </li>
  
      <li class="role_li">
        <div class="role_block">
          <div class="set_top">
            <img src="images/role_item.png" class="set_top_tu">
          </div>
          <div class="set_bt">
            <p>项目管理员</p>
            <p>拥有给项目添加用户，给用户授权团队成员角色的权限。</p>
          </div>
        </div>
        <div class="role_block_h" >
          <div class="service_one">
            <p class="serv_tit">角色来源</p>
            <p class="serv_detail">默认</p>
          </div>
        </div>
      </li>
  
      <li class="role_li">
        <div class="role_block">
          <div class="set_top">
            <img src="images/role_team.png" class="set_top_tu">
          </div>
          <div class="set_bt">
            <p>团队成员</p>
            <p>拥有浏览所属项目的相关信息的权限。</p>
          </div>
        </div>
        <div class="role_block_h" >
          <div class="service_one">
            <p class="serv_tit">角色来源</p>
            <p class="serv_detail">默认</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  </div>
  