<div class="modal-header" style="padding:14px 14px;background: #f2f2f1;border-bottom:0;">
    <h5 class="modal-title">
  
      <span class="modal_name">添加子租户</span>
      <a ng-click="cancel()" href="javascript:;" class="modal-close" style="margin-top: 4px;">
      </a>
    </h5>
  </div>
  <form name="frm">
  <div class="modal-body confirm-con" >
  
    <div class="con-wrop" style="margin-top:0px;">
      <label>租户名<i class="modal_red">*</i></label>
      <div class="confirm-select modal_select" ng-class="{modal_select_red:error.namenull}">
        <input type="text" name="username" class="modal_input" ng-model="message.name" required>
      </div>
      <div class="error_block_tit" ng-if="frm.username.$dirty && frm.username.$invalid">
        <p style="margin:0;">租户名不能为空</p>
      </div>
    </div>
    <div class="con-wrop">
      <label>租户描述</label>
      <textarea cols="60" ng-model="message.description" rows="5" placeholder="描述内容不多于20个字符..." maxlength="20" ng-model="" style="resize: none;"></textarea>
    </div>
  </div>
  <div class="modal-footer"   style="text-align: right">
    <span class="btn-newst" ng-click="frm.$valid && ok()">确认</span>
  </div>
  </form>
  